/* Шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
}
.page-container {
  width: 940px;
  margin: 0 auto;
}
.main-container{
  flex-grow: 1;
}
/* Шрифты */
.navigation{
  display: flex;
  width: 940px;
  margin: 0 auto
}
.navigation-list{
  width: 430px;
  margin: 0;
  padding: 0;
}

.navigation-user{
  max-width: 250px;
  margin-left: auto;
}



html {
  height: 100%;
}

.real-town{
  background: #83B3D3;
  color: #FFFFFF;
}
.blue-two{
  background: rgba(131, 179, 211, 0.12);
}
.blue-three{
  background: rgba(131, 179, 211, 0.2);
}
.button-one{
  background: #756257;
  border-radius: 10px;
}
.button-two{
  background: #83B3D3;
}

.number{
  color: #000000;
}
.want-here{
  position: absolute;
background: #756257;
border-radius: 4px;
color:#FFFFFF ;
}

.more{
  background: #756257;
border-radius: 4px;
}
.submit{
  background: #83B3D3;
  border-radius: 4px;
}
.load-more{
  background: #83B3D3;
border-radius: 4px;
}
.color{
  color: #FFFFFF;
}
.color2{
  background: #83B3D3;
border-radius: 4px;
color: #FFFFFF;
}
.color3{
  background: #F2F2F2;
  border-radius: 4px;
}
.love{
  background: #7DB54F;
border-radius: 4px;
}
.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}